<head th:insert="~{admin/fragments/head}"><title>Administrative Personnel Details</title></head>
<div th:insert="~{admin/fragments/header}"></div>

<div class="row">
    <div class="col">
        <h1>Administrative Personnel Details</h1>
        <a th:href="@{/admin/administrative-personnel}" class="btn btn-warning mb-3">Back to List</a>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>ID</th>
                <td th:utext="${administrativePersonnel.id}">ID</td>
            </tr>
            <tr>
                <th>Job Code</th>
                <td th:utext="${administrativePersonnel.jobCode}">Job Code</td>
            </tr>
            <tr>
                <th>Division</th>
                <td th:utext="${administrativePersonnel.divisionUnit}">Division</td>
            </tr>
            <tr>
                <th>Classification</th>
                <td th:utext="${administrativePersonnel.classification}">Classification</td>
            </tr>
            <tr>
                <th>Terms of Employment</th>
                <td th:utext="${administrativePersonnel.termsOfEmployment}">Terms of Employment</td>
            </tr>
            <tr>
                <th>FLSA Status</th>
                <td th:utext="${administrativePersonnel.flsaStatus}">FLSA Status</td>
            </tr>
            <tr>
                <th>Position Summary</th>
                <td th:utext="${administrativePersonnel.positionSummary}">Position Summary</td>
            </tr>
            <tr>
                <th>Essential Duties and Responsibilities</th>
                <td th:utext="${administrativePersonnel.essentialDutiesAndResponsibilities}">
                    Essential Duties and Responsibilities</td>
            </tr>
            <tr>
                <th>Position Expectations</th>
                <td th:utext="${administrativePersonnel.positionExpectations}">Position Expectations</td>
            </tr>
            <tr>
                <th>Position Requirements</th>
                <td th:utext="${administrativePersonnel.positionRequirements}">Position Requirements</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:insert="~{admin/fragments/footer}"></footer>