<head th:insert="~{admin/fragments/head}"><title>Administrative Personnel Details</title></head>
<div th:insert="~{admin/fragments/header}"></div>

<div class="row">
    <div class="col">
        <h1>Administrative Personnel Details</h1>
        <a th:href="@{/admin/administrative-personnel}" class="btn btn-warning mb-3">Back to List</a>
        <p>ID: <span th:text="${administrativePersonnel.id}">ID</span></p>
        <p>Job Code: <span th:text="${administrativePersonnel.jobCode}">Job Code</span></p>
        <p>Division: <span th:text="${administrativePersonnel.divisionUnit}">Division</span></p>
        <p>Classification: <span th:text="${administrativePersonnel.classification}">Classification</span></p>
        <p>Terms of Employment: <span th:text="${administrativePersonnel.termsOfEmployment}">Terms of Employment</span>
        </p>
        <p>FLSA Status: <span th:text="${administrativePersonnel.flsaStatus}">FLSA Status</span></p>
        <p>Position Summary: <span th:text="${administrativePersonnel.positionSummary}">Position Summary</span></p>
        <p>Essential Duties and Responsibilities: <span
                th:text="${administrativePersonnel.essentialDutiesAndResponsibilities}">Essential Duties and Responsibilities</span>
        </p>
        <p>Position Expectations: <span
                th:text="${administrativePersonnel.positionExpectations}">Position Expectations</span></p>
        <p>Position Requirements: <span
                th:text="${administrativePersonnel.positionRequirements}">Position Requirements</span></p>
    </div>
</div>
<footer th:insert="~{admin/fragments/footer}"></footer>