<head th:insert="~{admin/fragments/head}"><title>Create/Update Administrative Personnel</title></head>
<div th:insert="~{admin/fragments/header}"></div>

<h1>Administrative Personnel</h1>

<a th:href="@{/admin/administrative-personnel/new}" class="btn btn-primary">Create New</a>
    <div class="row pt-3">
        <div class="col">
            <table id="detailsTable" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Job Code</th>
                    <th>Division Unit</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="administrativePersonnel : ${administrativePersonnel}">
                    <td th:text="${administrativePersonnel.jobTitle}">Job Title</td>
                    <td th:text="${administrativePersonnel.jobCode}">Job Code</td>
                    <td th:text="${administrativePersonnel.divisionUnit}">Division Unit</td>
                    <td>
                        <a th:href="@{/admin/administrative-personnel/{id}(id=${administrativePersonnel.id})}" class="btn btn-info">View</a>
                        <a th:href="@{/admin/administrative-personnel/edit/{id}(id=${administrativePersonnel.id})}" class="btn btn-warning">Edit</a>
                        <a th:href="@{/admin/administrative-personnel/delete/{id}(id=${administrativePersonnel.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<footer th:insert="~{admin/fragments/footer}"></footer>