<head th:insert="~{admin/fragments/head}"><title>Create/Update Administrative Personnel</title></head>
<div th:insert="~{admin/fragments/header}"></div>

<div class="row pb-5">
    <div class="col">
<h1>Create/Update Support Professional</h1>
        <a th:href="@{/admin/support-professionals}" class="btn btn-warning mb-3">Back to List</a>

        <form th:action="@{/admin/support-professionals}" th:object="${supportProfessional}" method="post" class="form">
    <input type="hidden" th:field="*{id}" />
    <div class="form-group">
        <label class="form-label">Class Code:</label>
        <input type="text" th:field="*{classCode}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Job Family:</label>
        <input type="text" th:field="*{jobFamily}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Classification:</label>
        <input type="text" th:field="*{classification}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Terms of Employment:</label>
        <input type="text" th:field="*{termsOfEmployment}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">FLSA Status:</label>
        <input type="text" th:field="*{flsaStatus}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Position Summary:</label>
        <input type="text" th:field="*{positionSummary}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Duties and Responsibilities:</label>
        <input type="text" th:field="*{dutiesAndResponsibilities}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Distinguishing Characteristics:</label>
        <input type="text" th:field="*{distinguishingCharacteristics}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Knowledge, Skills, and Abilities:</label>
        <input type="text" th:field="*{knowledgeSkillsAbilities}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Position Requirements:</label>
        <input type="text" th:field="*{positionRequirements}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Documents Required at Time of Application:</label>
        <input type="text" th:field="*{documentsRequiredAtTimeOfApplication}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Examples of Assigned Work Areas:</label>
        <input type="text" th:field="*{examplesOfAssignedWorkAreas}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Work Environment:</label>
        <input type="text" th:field="*{workEnvironment}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Equipment and Supplies Used to Perform Tasks:</label>
        <input type="text" th:field="*{equipmentSuppliesUsedToPerformTasks}" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
    </div>
</div>

<footer th:insert="~{admin/fragments/footer}"></footer>