<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{admin/fragments/head}"><title>Create/Update Administrative Personnel</title></head>
<div th:insert="~{admin/fragments/header}"></div>

<h1>Support Professionals</h1>
<a th:href="@{/admin/support-professionals/new}" class="btn btn-primary">Create New</a>
<div class="row pt-3">
    <div class="col">
        <table id="detailsTable" class="table table-striped table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Class Code</th>
        <th>Job Family</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="supportProfessional : ${supportProfessionals}">
        <td th:text="${supportProfessional.id}">ID</td>
        <td th:text="${supportProfessional.classCode}">Class Code</td>
        <td th:text="${supportProfessional.jobFamily}">Job Family</td>
        <td>
            <a th:href="@{/admin/support-professionals/{id}(id=${supportProfessional.id})}" class="btn btn-info">View</a>
            <a th:href="@{/admin/support-professionals/edit/{id}(id=${supportProfessional.id})}" class="btn btn-warning">Edit</a>
            <a th:href="@{/admin/support-professionals/delete/{id}(id=${supportProfessional.id})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
    </div>
</div>

<footer th:insert="~{admin/fragments/footer}"></footer>