<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{admin/fragments/head}"><title>Create/Update Administrative Personnel</title></head>
<div th:insert="~{admin/fragments/header}"></div>

<h1>Licensed Personnel</h1>
<a th:href="@{/admin/licensed-personnel/new}">Create New</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Job Code</th>
        <th>Reference Code</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="licensedPersonnel : ${licensedPersonnel}">
        <td th:text="${licensedPersonnel.id}">ID</td>
        <td th:text="${licensedPersonnel.jobCode}">Job Code</td>
        <td>
            <a th:href="@{/admin/licensed-personnel/{id}(id=${licensedPersonnel.id})}">View</a>
            <a th:href="@{/admin/licensed-personnel/edit/{id}(id=${licensedPersonnel.id})}">Edit</a>
            <a th:href="@{/admin/licensed-personnel/delete/{id}(id=${licensedPersonnel.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<footer th:insert="~{public/fragments/footer}"></footer>